.my-container{
    /*border: 1px solid green;*/
    margin-left: 150px;
}

/*.my-row{
    border: 3px solid red;
}

.my-col{
    border: 3px solid blue;
}*/
body{
    background: #f8f8f8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #167f8c;
    height: 35px;
    text-align: center;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  li a:hover{
      text-decoration: none;
      color: white;
  }
  /*styling the wrapper of the form*/
.wrapper{
    position: absolute;
    /*transform:translate(-50%,-50%);*/
    max-width: 220px;
    width: 100%;
    background-color: #23968c;
    padding: 15px;
    height: 305px;
}

.wrapper:after{
    content: "";
    position: absolute;
    bottom: 0;left: 0;
    border-bottom: 30px solid #f8f8f8;
    border-right: 30px solid #167f8c;
}

.wrapper .inputfield{
    margin-bottom: 10px;
}

.wrapper .inputfield input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 3px;
    border-radius:5px;
    outline: none;
}

.wrapper textarea{
    height: 40px;
    /*resize: none; if you want to remove the two lines in the right bottom corner for resize*/
}

.wrapper .btn input[type="submit"]{
    border:0;
    margin-left: 100px;
    background:#167f8c;
    color: white;
    outline:none;
    margin-top: 0px;
}
i{
    font-size: 12px !important;
    margin-bottom: 4px;
    float: right;
    margin-right: 10px;
    color: lightgray;
}
.videocontainer{
    width: 492px;
    height: 265px;
    float: right; 
    overflow:hidden;
    position: relative;
}
.vid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.controls{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0);
    height: 0px;
    bottom:40px;
    width: 100%;
}
#play-pause,#fullscreenbtn{
    color: white; 
    background-color:transparent;
    border: none;
    opacity: 1;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#fullscreenbtn{
    position: absolute;
    right:0;
    margin-top: 45px;
}
.statusbar{
    height: 3px;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.6;
    background-color: lightgrey;
}
.progress{
    height: 3px;
    width:0;
    background-color: red;
}
#row3{
    max-width: 950px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.profile-card{
    background-color: #f8f8f8;
    width: 170px;
    height: 170px;
    /*border: 1px solid black;*/
    margin-left: 20px;
    cursor: pointer;
}

img{
    width: 170px;
    height: 90px;
    object-fit: cover;
}

.desc{
    text-align:center;
}

.desc h2{
    margin-top: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.desc p{
    font-size: 10px;
    line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    padding: 0px 10px 0px;
}
footer{
    background: #167f8c;
    height: 35px;
}
