html,body{
    padding: 10px 2px 0px 2px;
    margin: 0;
}

.image-container{
    width:100%;
    height:500px;
    max-width: 1000px;
    user-select: none;
    box-shadow: 0px 0px 3px 1px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.image-container .carousel-container{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}

.image-container .carousel-container .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.image-container .carousel-container .imageHolder img{
    width: 100%;
    height: 100%;
}

.image-container .carousel-container .imageHolder .captionText{
    display: none;
}

/*styling the arrows*/
.image-container .carousel-container .leftArrow, .image-container .carousel-container .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s; 
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image-container .carousel-container .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.image-container .carousel-container .leftArrow:hover, .image-container .carousel-container .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.image-container .carousel-container .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.image-container .carousel-container .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}

.image-container .carousel-container .arrow.arrowRight{
    transform: rotateZ(45deg);
}

.image-container .carousel-container>.captionHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;

}

.image-container .carousel-container>.captionHolder>.captionText{
    margin: 0;
}

/*styling for dots container*/

.image-container #dotsContainer{
    width:100%;
    height: 10%;
    text-align:center;
    padding-top: 20px;
    box-sizing: border-box;
}

/*styling for individual dots*/
.image-container #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px; 
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.5s;
}

.image-container #dotsContainer .dots:hover,.image-container #dotsContainer .dots.active{
    background-color: #717171;

}

/*aligning dots to the center*/
.image-container #dotsContainer .dots:first-child{
    margin-left: 0;
}

/*When user clicks on right arrow*/
.image-container .moveLeftCurrentImage{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.image-container .moveLeftNextImage{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: -100%;
        opacity: 1;
    } 
}

@keyframes moveLeftNext {
    from{
        margin-left: 100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}

/*when user clicks on left arrow*/
.image-container .moveRightCurrentImage{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes moveRightCurrent {
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: 100%;
        opacity: 1;
    } 
}

.image-container .moveRightNextImage{
    animation-name: moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightNext{
    from{
        margin-left: -100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    } 
}