div{
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: red;
    transition: all 0.5s linear;
}

div:hover{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: limegreen;
    transform: rotate(180deg);
}