div{
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: dodgerblue;
    color: white;
    transform: rotate(45deg);
    transform: scaleY(2);
    transform: skew(20deg);
    transform: translate(50px,100px);
    transform: matrix(2,1,1,2,70,100);
}