#controls-bar{
    background-color: #333;
    padding: 10px;
    color: #ccc;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}

#videoplayer-box{
    width:550px;
    background-color: #000;
    margin: 0px auto;
}

#myVideo{
    
    max-width:"550";
    height:"320";
}

#videoplayer-box:before{
    padding-top: 56.25%;
}

#seekslider{
    margin-top: 7px;
    width:100px;
}

#volumeslider{
    margin-top: 7px;
    width: 80px;
}

input[type='range']{
    -webkit-appearance: none !important;
    background: #000;
    border: #666 1px solid;
    height: 4px;
}


input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    background: orangered;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer; 
}

#play-pause, #mutebtn, #fullscreenbtn{
    color: white;
    background-color:#333;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    font-size: 20px;
}

#play-pause:hover{
    opacity:1;
}
#mutebtn:hover{
    opacity:1;
}
#fullscreenbtn:hover{
    opacity:1;
}
.dropdown{
    display:inline-block;
}
#speedlist{
    color: white;
    background-color: #333;
    opacity: 0.5; 
}
#speedlist:hover{
    opacity:1;
}
